html {
  background: linear-gradient(to bottom right, rgb(83, 166, 250), rgb(39, 230, 166));
  background-repeat: no-repeat;
  color: #fff;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  padding: 0% 5%;
  width: 85%;
}

h1{
  background-clip: border-box;
  background: linear-gradient(#2f719c, rgb(91, 51, 236));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgb(223, 215, 215);
  filter: drop-shadow(2px 2px #600ee6);
  font-size: 46px;
  animation: heartBeat; 
  animation-duration: 3s;
}
.selector, .filtro{
  outline:none ;
}

.types{
  display: inline-block;
  background-color: chocolate;
  padding: 5px 10px;
  margin-right: 10px;
  color: #FFF;
  border-radius: 4px;
}

.filters{
  margin-bottom: 1em;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: #7eb2f9;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.card:hover{
  width: 100.2%;
  height: 100.2% ;
  border-color: rgb(48, 38, 192);
}

.card:hover h2{
  color: rgb(48, 38, 192);
  font-weight: bold;
  
}

.card:hover .items{
  color: rgb(48, 38, 192);
}

.card:hover .types{
  color: rgb(48, 38, 192);
  border-radius: 20px;
}

.Poison {
  background-color: rgb(236, 86, 236);
}

.Grass {
  background-color: rgb(24, 248, 98);
}

.Fire {
  background-color: rgb(214, 46, 46);
}

.Flying {
  background-color: aqua;
  color: #000;
}

.Water {
  background-color: rgb(91, 91, 214);
}

.Bug{
  background-color: rgb(228, 105, 60);
}

.Normal{
  background-color: rgba(238, 223, 22, 0.829);
}

.filters select {
  background: transparent;
  border-radius: 10px;
  border: 1px solid #0780f1;
  padding: 1em;
  color: #fff;
}
select option {
  background: rgb(112, 181, 250);
  color: #fff;
}


.filtro{
  background: transparent;
  color: #fff;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #0780f1;
}

.card{
  padding: 0 5px 10px;
  border: 1px solid #7ed3e9;
}
.filtro::placeholder{
  color:white
}

@media (max-width: 575.98px) { 

  .App {
    display:block;
    width: 100%;
  }

  .filtro{
    width:83%;
  }

  .card{
    width:85%;
    height: 85%;
    margin: 2% 7.5%  3% 6.5%;
  }

  .card:hover{
    width: 86%;
    height: 86% ;
    margin: 2% 7% 4% 7%;
    
  }
  
 }